<form [formGroup]="quizForm" (ngSubmit)="onSubmit()"  class='quiz-container p-5 m-3' id='quiz'>
  <h2> This assessment will help you find which path is best for you! Please answer each question honestly so
    we can provide you with the best possible help for you to succeed!</h2>

  <div class="question1">
    <h3>Which is more important to me?</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="Security" >Security</mat-radio-button>
      <mat-radio-button value="Opportunity">Opportunity</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="question2">
    <h3>I am comfortable(or willing to get comfortable) putting myself out there on social media</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="true1">True</mat-radio-button>
      <mat-radio-button value="false1">False</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="question3">
    <h3>I am most comfortable working with:</h3>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="Consumers">Consumers</mat-radio-button>
        <mat-radio-button value="Owners" >Owners</mat-radio-button>
      </mat-radio-group>
  </div>

  <div class="question4">
    <h3>I am comfortable with person-to-person sales.</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="True2" >True</mat-radio-button>
      <mat-radio-button value="False2" >False</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="question5">
    <h3>I have a marketable expertise I can sell.</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="True3" >True</mat-radio-button>
      <mat-radio-button value="False3" >False</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="question6">

    <h3>Which is more important to me?</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="Speed" >Speed to Results</mat-radio-button>
      <mat-radio-button value="long-term" >Long-term Results</mat-radio-button>
    </mat-radio-group>

  </div>
  <div class="question7">
    <h3>Which is more important to me?</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="potential">Building a profitable system with unlimited potential</mat-radio-button>
      <mat-radio-button value="Sellable" >Building a long-term sellable asset</mat-radio-button>
    </mat-radio-group>
  </div> 
</form>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button" (click)="onSubmit()" >See Results</button>
</div>